// Panels

.panel-variant(@border-color; @heading-text-color; @heading-bg-color; @link-color; @bg-color) {

  border-color: @border-color;
  background-color: @bg-color;

  & > .panel-heading {
    color: @heading-text-color;
    background-color: @heading-bg-color;
    border-color: @border-color;

    + .panel-collapse > .panel-body {
      border-top-color: @border-color;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: @border-color;
    }
  }
  a {
    color: @link-color;
  }
}
